<web-app>

    <servlet>
        <servlet-name>AddEventServlet</servlet-name>
        <servlet-class>AddEventServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddEventServlet</servlet-name>
        <url-pattern>/addevent</url-pattern>
    </servlet-mapping>

</web-app>
